# Práctica 07: Proceso ETL con diferentes origenes o fuentes de datos (Data Source)

##### Creado por: Yulissa Ortega Cuevas Matricula: 220875

##### Asignatura: Extracción de Conocimiento de Bases de Datos

##### PE: Ingeniería en Desarrollo y Gestión de Software - 9B

### 5. Carga de datos

In [1]:
# Carga de paquetes y Librerías a utilizar

# Básicos (Standard)

import numpy as np # Sirve para poder realizar procesamientos básicos númericos en datos cuantitativos
import pandas as pd # Sirve para realizar los procesos ETL es un conjunto de datos
import time # Sirve para la manipulación de datos en diferentes formatos de tiempo
import requests
import json

!pip install pymysql
import sqlalchemy
from sqlalchemy import create_engine, text
import pymysql

#Gratificadores (Plats)
import matplotlib.pyplot as plt
import plotly.express as px
import seaborn as sns

Requirement already satisfied: pymysql in c:\users\orteg\anaconda3\lib\site-packages (1.1.1)

#### EJERCICIO 1: Base de Datos SQL (MySQL)

In [2]:
# Nos aseguramos que el archivo de origen de datos se encuentre en la carpeta del proyecto
!cd
!dir

C:\Users\orteg\Downloads\Práctica 07 - Yulissa Ortega
 El volumen de la unidad C es Windows-SSD
 El número de serie del volumen es: 94D9-1718

 Directorio de C:\Users\orteg\Downloads\Práctica 07 - Yulissa Ortega

25/06/2025  09:29 p. m.    <DIR>          .
25/06/2025  09:24 p. m.    <DIR>          ..
25/06/2025  09:25 p. m.    <DIR>          .ipynb_checkpoints
17/06/2025  12:22 a. m.            28,652 3_mis602_ass2.sql
25/06/2025  09:29 p. m.            51,057 Práctica06.ipynb
               2 archivos         79,709 bytes
               3 dirs  60,543,598,592 bytes libres

#### Conexión a la base de datos

In [5]:
engine = create_engine('mysql+pymysql://root:1234@localhost:3306/mis602_ass2', echo=True)

#### Importacion de datos de una base de datos sql

In [6]:
query = """
SELECT 
    a.appointment_id,
    a.appointment_date,
    a.status,
    p.patient_id,
    p.name AS patient_name,
    p.dob,
    p.gender,
    d.name AS doctor_name
FROM appointment a
JOIN patient p ON a.patient_id = p.patient_id
JOIN doctor d ON a.doctor_id = d.doctor_id
ORDER BY a.appointment_date DESC
"""

df = pd.read_sql(query, engine)

2025-06-25 21:29:53,220 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2025-06-25 21:29:53,220 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-06-25 21:29:53,227 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2025-06-25 21:29:53,227 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-06-25 21:29:53,230 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2025-06-25 21:29:53,231 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-06-25 21:29:53,235 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-06-25 21:29:53,236 INFO sqlalchemy.engine.Engine DESCRIBE `mis602_ass2`.`
SELECT
    a.appointment_id,
    a.appointment_date,
    a.status,
    p.patient_id,
    p.name AS patient_name,
    p.dob,
    p.gender,
    d.name AS doctor_name
FROM appointment a
JOIN patient p ON a.patient_id = p.patient_id
JOIN doctor d ON a.doctor_id = d.doctor_id
ORDER BY a.appointment_date DESC
`
2025-06-25 21:29:53,237 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-06-25 21:29:53,242 INFO sqlalchemy.engine.Engine
SELECT
    a.appointment_id,
    a.appointment_date,
    a.status,
    p.patient_id,
    p.name AS patient_name,
    p.dob,
    p.gender,
    d.name AS doctor_name
FROM appointment a
JOIN patient p ON a.patient_id = p.patient_id
JOIN doctor d ON a.doctor_id = d.doctor_id
ORDER BY a.appointment_date DESC

2025-06-25 21:29:53,244 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-06-25 21:29:53,276 INFO sqlalchemy.engine.Engine ROLLBACK

#### Exploración y limpieza de datos

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   appointment_id    100 non-null    int64
 1   appointment_date  100 non-null    datetime64[ns]
 2   status            53 non-null     object
 3   patient_id        100 non-null    int64
 4   patient_name      100 non-null    object
 5   dob               100 non-null    object
 6   gender            100 non-null    object
 7   doctor_name       100 non-null    object
dtypes: datetime64[ns](1), int64(2), object(5)
memory usage: 6.4+ KB

In [8]:
print(df.isnull().sum())

appointment_id       0
appointment_date     0
status              47
patient_id           0
patient_name         0
dob                  0
gender               0
doctor_name          0
dtype: int64

In [9]:
# Eliminamos filas con valores nulos en campos clave (como status o fecha)
df_clean = df.dropna(subset=['appointment_date', 'status'])

#### Transformación de datos

In [10]:
df_clean = df.dropna(subset=['appointment_date', 'status']).copy()

In [11]:
# Convertir fecha de nacimiento y calcular edad
df_clean['dob'] = pd.to_datetime(df_clean['dob'])
df_clean['appointment_date'] = pd.to_datetime(df_clean['appointment_date'])
df_clean['age'] = df_clean['appointment_date'].dt.year - df_clean['dob'].dt.year

In [12]:
# Clasificar pacientes por grupo etario
df_clean['age_group'] = pd.cut(df_clean['age'], 
                               bins=[0, 12, 18, 30, 45, 60, np.inf], 
                               labels=['Niño', 'Adolescente', 'Joven', 'Adulto joven', 'Adulto medio', 'Adulto mayor'])

In [13]:
# Convertimos el estado a minúsculas para estandarizar
df_clean['status'] = df_clean['status'].str.lower()

In [14]:
#Comprobacion
df_clean[['patient_name', 'dob', 'appointment_date', 'age', 'age_group']].head(10)

      patient_name        dob    appointment_date  age     age_group
46         AnnaLee 1969-12-01 2023-09-15 15:00:00   54  Adulto medio
48      Liam Smith 1976-03-20 2023-09-12 15:45:00   47  Adulto medio
49   Jameela White 1977-06-22 2023-09-12 14:30:00   46  Adulto medio
50     Ruby Nelson 1999-10-28 2023-09-12 14:00:00   24         Joven
51   Zachary Perez 1993-02-28 2023-09-10 16:45:00   30         Joven
52       Jane Dave 1985-09-10 2023-09-10 16:30:00   38  Adulto joven
53     Frank Brown 1982-09-25 2023-09-10 15:30:00   41  Adulto joven
54     Henry Davis 1997-07-03 2023-09-08 17:30:00   26         Joven
55  Samantha Green 1989-07-04 2023-09-08 16:15:00   34  Adulto joven
56     Noah Harris 1976-02-10 2023-09-08 16:00:00   47  Adulto medio

In [15]:
# Comprobacion
print(df_clean.columns)

Index(['appointment_id', 'appointment_date', 'status', 'patient_id',
       'patient_name', 'dob', 'gender', 'doctor_name', 'age', 'age_group'],
      dtype='object')

In [16]:
df_clean.dtypes[['dob', 'appointment_date', 'age']]

dob                 datetime64[ns]
appointment_date    datetime64[ns]
age                          int32
dtype: object

In [17]:
# valores únicos por grupo etario
print(df_clean['age_group'].value_counts())

age_group
Adulto joven    27
Joven           17
Adulto medio     8
Adolescente      1
Niño             0
Adulto mayor     0
Name: count, dtype: int64

In [18]:
# Comprobacion de: Convertimos el estado a minúsculas para estandarizar
print(df_clean['status'].unique())

['completed' 'cancelled']

#### Exportar datos a una tabla temporal de SQL

In [19]:
table_temp = "appointment_processed_temp"
df_clean.to_sql(table_temp, con=engine, if_exists='replace', index=False)

2025-06-25 21:30:24,589 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-06-25 21:30:24,594 INFO sqlalchemy.engine.Engine DESCRIBE `mis602_ass2`.`appointment_processed_temp`
2025-06-25 21:30:24,594 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-06-25 21:30:24,597 INFO sqlalchemy.engine.Engine DESCRIBE `mis602_ass2`.`appointment_processed_temp`
2025-06-25 21:30:24,601 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-06-25 21:30:24,601 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `mis602_ass2`
2025-06-25 21:30:24,601 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-06-25 21:30:24,609 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `mis602_ass2`
2025-06-25 21:30:24,612 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-06-25 21:30:24,626 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `appointment_processed_temp`
2025-06-25 21:30:24,626 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-06-25 21:30:24,640 INFO sqlalchemy.engine.Engine
DROP TABLE appointment_processed_temp
2025-06-25 21:30:24,644 INFO sqlalchemy.engine.Engine [no key 0.00137s] {}
2025-06-25 21:30:24,666 INFO sqlalchemy.engine.Engine
CREATE TABLE appointment_processed_temp (
	appointment_id BIGINT,
	appointment_date DATETIME,
	status TEXT,
	patient_id BIGINT,
	patient_name TEXT,
	dob DATETIME,
	gender TEXT,
	doctor_name TEXT,
	age INTEGER,
	age_group TEXT
)


2025-06-25 21:30:24,668 INFO sqlalchemy.engine.Engine [no key 0.00172s] {}
2025-06-25 21:30:24,691 INFO sqlalchemy.engine.Engine INSERT INTO appointment_processed_temp (appointment_id, appointment_date, status, patient_id, patient_name, dob, gender, doctor_name, age, age_group) VALUES (%(appointment_id)s, %(appointment_date)s, %(status)s, %(patient_id)s, %(patient_name)s, %(dob)s, %(gender)s, %(doctor_name)s, %(age)s, %(age_group)s)
2025-06-25 21:30:24,698 INFO sqlalchemy.engine.Engine [generated in 0.00260s] [{'appointment_id': 137, 'appointment_date': datetime.datetime(2023, 9, 15, 15, 0), 'status': 'completed', 'patient_id': 5, 'patient_name': 'AnnaLee', 'dob': datetime.datetime(1969, 12, 1, 0, 0), 'gender': 'male', 'doctor_name': 'Dr. Michael Brown', 'age': 54, 'age_group': 'Adulto medio'}, {'appointment_id': 212, 'appointment_date': datetime.datetime(2023, 9, 12, 15, 45), 'status': 'completed', 'patient_id': 80, 'patient_name': 'Liam Smith', 'dob': datetime.datetime(1976, 3, 20, 0, 0), 'gender': 'male', 'doctor_name': 'Dr. Ryan Lee', 'age': 47, 'age_group': 'Adulto medio'}, {'appointment_id': 172, 'appointment_date': datetime.datetime(2023, 9, 12, 14, 30), 'status': 'completed', 'patient_id': 40, 'patient_name': 'Jameela White', 'dob': datetime.datetime(1977, 6, 22, 0, 0), 'gender': 'male', 'doctor_name': 'Dr. Daniel Wilson', 'age': 46, 'age_group': 'Adulto medio'}, {'appointment_id': 192, 'appointment_date': datetime.datetime(2023, 9, 12, 14, 0), 'status': 'completed', 'patient_id': 60, 'patient_name': 'Ruby Nelson', 'dob': datetime.datetime(1999, 10, 28, 0, 0), 'gender': 'female', 'doctor_name': 'Dr. John Doe', 'age': 24, 'age_group': 'Joven'}, {'appointment_id': 200, 'appointment_date': datetime.datetime(2023, 9, 10, 16, 45), 'status': 'completed', 'patient_id': 68, 'patient_name': 'Zachary Perez', 'dob': datetime.datetime(1993, 2, 28, 0, 0), 'gender': 'male', 'doctor_name': 'Dr. William Wilson', 'age': 30, 'age_group': 'Joven'}, {'appointment_id': 160, 'appointment_date': datetime.datetime(2023, 9, 10, 16, 30), 'status': 'completed', 'patient_id': 28, 'patient_name': 'Jane Dave', 'dob': datetime.datetime(1985, 9, 10, 0, 0), 'gender': 'female', 'doctor_name': 'Dr. Natalie Wilson', 'age': 38, 'age_group': 'Adulto joven'}, {'appointment_id': 180, 'appointment_date': datetime.datetime(2023, 9, 10, 15, 30), 'status': 'completed', 'patient_id': 48, 'patient_name': 'Frank Brown', 'dob': datetime.datetime(1982, 9, 25, 0, 0), 'gender': 'male', 'doctor_name': 'Dr. William Anderson', 'age': 41, 'age_group': 'Adulto joven'}, {'appointment_id': 208, 'appointment_date': datetime.datetime(2023, 9, 8, 17, 30), 'status': 'completed', 'patient_id': 76, 'patient_name': 'Henry Davis', 'dob': datetime.datetime(1997, 7, 3, 0, 0), 'gender': 'male', 'doctor_name': 'Dr. Samuel Brown', 'age': 26, 'age_group': 'Joven'}  ... displaying 10 of 53 total bound parameter sets ...  {'appointment_id': 215, 'appointment_date': datetime.datetime(2023, 5, 10, 11, 15), 'status': 'completed', 'patient_id': 3, 'patient_name': 'Robert Johnson', 'dob': datetime.datetime(1976, 10, 22, 0, 0), 'gender': 'male', 'doctor_name': 'Dr. David Smith', 'age': 47, 'age_group': 'Adulto medio'}, {'appointment_id': 135, 'appointment_date': datetime.datetime(2023, 5, 10, 11, 15), 'status': 'completed', 'patient_id': 3, 'patient_name': 'Robert Johnson', 'dob': datetime.datetime(1976, 10, 22, 0, 0), 'gender': 'male', 'doctor_name': 'Dr. David Smith', 'age': 47, 'age_group': 'Adulto medio'}]
2025-06-25 21:30:24,705 INFO sqlalchemy.engine.Engine COMMIT

53

In [20]:
# Verificamos que la tabla se haya creado correctamente
result = pd.read_sql(f"SELECT COUNT(*) AS total FROM {table_temp}", engine)
print("Total registros cargados:", result)

2025-06-25 21:30:29,476 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-06-25 21:30:29,476 INFO sqlalchemy.engine.Engine DESCRIBE `mis602_ass2`.`SELECT COUNT(*) AS total FROM appointment_processed_temp`
2025-06-25 21:30:29,477 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-06-25 21:30:29,482 INFO sqlalchemy.engine.Engine SELECT COUNT(*) AS total FROM appointment_processed_temp
2025-06-25 21:30:29,484 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-06-25 21:30:29,526 INFO sqlalchemy.engine.Engine ROLLBACK
Total registros cargados:    total
0     53

In [21]:
# Mostramos los primeros registros
print(pd.read_sql(f"SELECT * FROM {table_temp} LIMIT 5", engine))

2025-06-25 21:30:32,315 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-06-25 21:30:32,315 INFO sqlalchemy.engine.Engine DESCRIBE `mis602_ass2`.`SELECT * FROM appointment_processed_temp LIMIT 5`
2025-06-25 21:30:32,317 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-06-25 21:30:32,318 INFO sqlalchemy.engine.Engine SELECT * FROM appointment_processed_temp LIMIT 5
2025-06-25 21:30:32,319 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-06-25 21:30:32,323 INFO sqlalchemy.engine.Engine ROLLBACK
   appointment_id    appointment_date     status  patient_id   patient_name  \
0             137 2023-09-15 15:00:00  completed           5        AnnaLee
1             212 2023-09-12 15:45:00  completed          80     Liam Smith
2             172 2023-09-12 14:30:00  completed          40  Jameela White
3             192 2023-09-12 14:00:00  completed          60    Ruby Nelson
4             200 2023-09-10 16:45:00  completed          68  Zachary Perez

         dob  gender         doctor_name  age     age_group
0 1969-12-01    male   Dr. Michael Brown   54  Adulto medio
1 1976-03-20    male        Dr. Ryan Lee   47  Adulto medio
2 1977-06-22    male   Dr. Daniel Wilson   46  Adulto medio
3 1999-10-28  female        Dr. John Doe   24         Joven
4 1993-02-28    male  Dr. William Wilson   30         Joven

#### EJERCICIO 2: API Data Import

In [38]:
import requests
import pandas as pd

# Conexión a la base de datos (si no está definida antes)
from sqlalchemy import create_engine
engine = create_engine('mysql+pymysql://root:1234@localhost:3306/mis602_ass2')

#### Importar datos desde la API

In [23]:
api_url = "https://jsonplaceholder.typicode.com/users"
# Petición GET a la API
response = requests.get(api_url)

In [24]:
# Verificar si la petición fue exitosa
if response.status_code == 200:
    api_data = response.json()
    df_api = pd.json_normalize(api_data)
    print("Datos importados correctamente desde la API.")
else:
    print(f"Error al hacer la solicitud: {response.status_code}")

Datos importados correctamente desde la API.

In [25]:
df_api.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   10 non-null     int64
 1   name                 10 non-null     object
 2   username             10 non-null     object
 3   email                10 non-null     object
 4   phone                10 non-null     object
 5   website              10 non-null     object
 6   address.street       10 non-null     object
 7   address.suite        10 non-null     object
 8   address.city         10 non-null     object
 9   address.zipcode      10 non-null     object
 10  address.geo.lat      10 non-null     object
 11  address.geo.lng      10 non-null     object
 12  company.name         10 non-null     object
 13  company.catchPhrase  10 non-null     object
 14  company.bs           10 non-null     object
dtypes: int64(1), object(14)
memory usage: 1.3+ KB

In [26]:
# Convertir respuesta JSON a DataFrame
api_data = response.json()
df_api = pd.json_normalize(api_data)

In [27]:
# Mostrar las primeras 5 filas del dataset de API
df_api.head(5)

,id,name,username,email,phone,website,address.street,address.suite,address.city,address.zipcode,address.geo.lat,address.geo.lng,company.name,company.catchPhrase,company.bs
0,1,Leanne Graham,Bret,Sincere@april.biz,1-770-736-8031 x56442,hildegard.org,Kulas Light,Apt. 556,Gwenborough,92998-3874,-37.3159,81.1496,Romaguera-Crona,Multi-layered client-server neural-net,harness real-time e-markets
1,2,Ervin Howell,Antonette,Shanna@melissa.tv,010-692-6593 x09125,anastasia.net,Victor Plains,Suite 879,Wisokyburgh,90566-7771,-43.9509,-34.4618,Deckow-Crist,Proactive didactic contingency,synergize scalable supply-chains
2,3,Clementine Bauch,Samantha,Nathan@yesenia.net,1-463-123-4447,ramiro.info,Douglas Extension,Suite 847,McKenziehaven,59590-4157,-68.6102,-47.0653,Romaguera-Jacobson,Face to face bifurcated interface,e-enable strategic applications
3,4,Patricia Lebsack,Karianne,Julianne.OConner@kory.org,493-170-9623 x156,kale.biz,Hoeger Mall,Apt. 692,South Elvis,53919-4257,29.4572,-164.2990,Robel-Corkery,Multi-tiered zero tolerance productivity,transition cutting-edge web services
4,5,Chelsey Dietrich,Kamren,Lucio_Hettinger@annie.ca,(254)954-1289,demarco.info,Skiles Walks,Suite 351,Roscoeview,33263,-31.8129,62.5342,Keebler LLC,User-centric fault-tolerant solution,revolutionize end-to-end systems

#### Limpiar datos

In [28]:
df_api_clean = df_api.dropna() # Eliminar filas con valores nulos

In [29]:
print("Valores nulos por columna:")
print(df_api_clean.isnull().sum())

Valores nulos por columna:
id                     0
name                   0
username               0
email                  0
phone                  0
website                0
address.street         0
address.suite          0
address.city           0
address.zipcode        0
address.geo.lat        0
address.geo.lng        0
company.name           0
company.catchPhrase    0
company.bs             0
dtype: int64

In [30]:
df_api_clean = df_api_clean.drop_duplicates() # Eliminar filas con valores duplicados

In [31]:
# Repetidos antes
print("Duplicados antes:", df_api.duplicated().sum())
# Repetidos después
print("Duplicados después:", df_api_clean.duplicated().sum())

Duplicados antes: 0
Duplicados después: 0

#### Transformación de datos

In [32]:
# Extraer dominio del email
if 'email' in df_api_clean.columns:
    df_api_clean['email_domain'] = df_api_clean['email'].str.split('@').str[1]

In [33]:
# Mostrar las columnas relevantes
print(df_api_clean[['email', 'email_domain']].head(5))

                       email email_domain
0          Sincere@april.biz    april.biz
1          Shanna@melissa.tv   melissa.tv
2         Nathan@yesenia.net  yesenia.net
3  Julianne.OConner@kory.org     kory.org
4   Lucio_Hettinger@annie.ca     annie.ca

In [34]:
# Crear columna de categoría basada en ID
df_api_clean['user_category'] = pd.cut(df_api_clean['id'],
                                       bins=[0, 3, 7, float('inf')],
                                       labels=['Nuevo', 'Intermedio', 'Avanzado'])

In [35]:
# Ver algunas filas
print(df_api_clean[['id', 'user_category']].head(5))

   id user_category
0   1         Nuevo
1   2         Nuevo
2   3         Nuevo
3   4    Intermedio
4   5    Intermedio

#### Exportar datos

In [36]:
# Guardar como archivo CSV local
df_api_clean.to_csv('api_bd.csv', index=False)
print("Datos exportados a 'api_bd.csv'")

Datos exportados a 'api_bd.csv'

In [39]:
# Exportar a base de datos MySQL
table_name = "api_users_processed"
df_api_clean.to_sql(table_name, engine, if_exists='replace', index=False)
print(f"Datos exportados a la tabla '{table_name}' en MySQL")

Datos exportados a la tabla 'api_users_processed' en MySQL

In [40]:
# Verificar exportación en SQL
verification = pd.read_sql(f"SELECT COUNT(*) AS total FROM {table_name}", engine)
print("Total de registros en MySQL:", verification.iloc[0]['total'])

Total de registros en MySQL: 10

In [41]:
# Mostrar una muestra de los datos
df_api_clean.head(5)

,id,name,username,email,phone,website,address.street,address.suite,address.city,address.zipcode,address.geo.lat,address.geo.lng,company.name,company.catchPhrase,company.bs,email_domain,user_category
0,1,Leanne Graham,Bret,Sincere@april.biz,1-770-736-8031 x56442,hildegard.org,Kulas Light,Apt. 556,Gwenborough,92998-3874,-37.3159,81.1496,Romaguera-Crona,Multi-layered client-server neural-net,harness real-time e-markets,april.biz,Nuevo
1,2,Ervin Howell,Antonette,Shanna@melissa.tv,010-692-6593 x09125,anastasia.net,Victor Plains,Suite 879,Wisokyburgh,90566-7771,-43.9509,-34.4618,Deckow-Crist,Proactive didactic contingency,synergize scalable supply-chains,melissa.tv,Nuevo
2,3,Clementine Bauch,Samantha,Nathan@yesenia.net,1-463-123-4447,ramiro.info,Douglas Extension,Suite 847,McKenziehaven,59590-4157,-68.6102,-47.0653,Romaguera-Jacobson,Face to face bifurcated interface,e-enable strategic applications,yesenia.net,Nuevo
3,4,Patricia Lebsack,Karianne,Julianne.OConner@kory.org,493-170-9623 x156,kale.biz,Hoeger Mall,Apt. 692,South Elvis,53919-4257,29.4572,-164.2990,Robel-Corkery,Multi-tiered zero tolerance productivity,transition cutting-edge web services,kory.org,Intermedio
4,5,Chelsey Dietrich,Kamren,Lucio_Hettinger@annie.ca,(254)954-1289,demarco.info,Skiles Walks,Suite 351,Roscoeview,33263,-31.8129,62.5342,Keebler LLC,User-centric fault-tolerant solution,revolutionize end-to-end systems,annie.ca,Intermedio